n8n/workflows/lead-toplama-agent.json
{
  "updatedAt": "2026-04-23T11:20:08.750Z",
  "createdAt": "2026-04-03T14:51:45.932Z",
  "id": "l31p16NRZeyk4eEm",
  "name": "Lead Toplama Agent",
  "description": "Webhook ile lead alir, skor hesaplar (sektor+konum+kaynak+asama bazli 0-100 puan), NocoDB'ye skorla birlikte kaydeder, Sicak/Ilik ise Seyma'ya mail gonderir.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "a385505a-f56b-40e8-b5c7-256c1c2efdc6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-toplama",
        "options": {}
      },
      "webhookId": "0f6561d3-5e21-4a82-82e1-6c1bdf88b1ef"
    },
    {
      "id": "76e20e87-4b9b-4124-a6ee-365669247bfb",
      "name": "Calculate Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "parameters": {
        "jsCode": "// Zernio webhook (message.received) -> Lead mapping.\n// Backwards compatible: generic webhook (LinkedIn/Manuel/etc) bypasses the\n// detection branch. Detection key: Zernio always sends an 'event' field plus\n// nested 'message.sender'.\nconst raw = $input.first().json.body || $input.first().json;\nconst isZernio = !!(raw && raw.event && raw.message && raw.message.sender);\n\nlet item;\nlet externalEventId = '';\nif (isZernio) {\n  const m = raw.message || {};\n  const sender = m.sender || {};\n  const conv = raw.conversation || {};\n  const platform = (m.platform || (raw.account && raw.account.platform) || '').toLowerCase();\n\n  // Phone in E.164 if Zernio gives it; otherwise reconstruct from sender.id (digits-only fallback for WA).\n  let telefon = sender.phoneNumber || '';\n  if (!telefon && /^\\d{8,}$/.test(sender.id || '')) telefon = '+' + sender.id;\n\n  // Map Zernio platform -> NocoDB Leadler.kaynak SingleSelect option.\n  // 'WhatsApp' option must exist in NocoDB (Adim 3 prerequisite).\n  const kaynakMap = { whatsapp: 'WhatsApp', instagram: 'IG DM', facebook: 'IG DM' };\n  const kaynak = kaynakMap[platform] || 'Manuel';\n\n  // Slowdays cold outreach is otelci-bazli; default sektor speeds scoring.\n  const sektorDefault = platform === 'whatsapp' ? 'Otelcilik' : '';\n\n  // Idempotency key — Zernio always sends message.id (server UUID).\n  // platformMessageId (e.g. wamid.xxx) is the WhatsApp Cloud API id, used as a\n  // secondary fallback. raw.id is the envelope-level event id.\n  externalEventId = m.id || m.platformMessageId || raw.id || '';\n\n  item = {\n    ad_soyad: sender.name || conv.participantName || '',\n    email: '',\n    telefon,\n    sirket_adi: sender.name || conv.participantName || '',\n    sektor: sektorDefault,\n    konum: '',\n    kaynak,\n    // Inbound message = lead replied = sicak (eski monitor mantigi).\n    asama: m.direction === 'incoming' ? 'Sicak' : 'Yeni',\n    notlar: m.text || '',\n    ihtiyac_notu: m.text ? ('Zernio ' + platform + ': ' + String(m.text).slice(0, 200)) : ''\n  };\n} else {\n  item = raw;\n  // Non-Zernio (LinkedIn/Manuel) callers may supply their own idempotency key.\n  externalEventId = raw.external_event_id || raw.event_id || '';\n}\n\nlet skor = 0;\nconst hedefSektorler = ['Otelcilik', 'Yeme-Icme', 'Turizm', 'Spa-Wellness'];\nif (hedefSektorler.includes(item.sektor)) skor += 20;\nelse if (item.sektor && item.sektor !== 'Diger') skor += 10;\n\nconst hedefKonumlar = ['Bodrum', 'Marmaris', 'Fethiye', 'Datca', 'Gocek'];\nif (hedefKonumlar.some(k => (item.konum || '').includes(k))) skor += 15;\nelse if ((item.konum || '').includes('Mugla')) skor += 10;\n\nif (item.kaynak === 'Meta Ads') skor += 25;\nelse if (item.kaynak === 'WhatsApp') skor += 20;\nelse if (item.kaynak === 'Clay' || item.kaynak === 'LinkedIn') skor += 15;\nelse if (item.kaynak === 'IG DM') skor += 10;\nelse if (item.kaynak === 'Manuel') skor += 5;\n\nif (item.asama === 'Sicak') skor += 30;\nelse if (item.asama === 'Ilik') skor += 20;\nelse if (item.asama === 'Yeni') skor += 5;\n\nconst validSectors = ['Otelcilik','Yeme-Icme','Perakende','Turizm','E-ticaret','Tekne-Yat','Emlak','Spa-Wellness','Doktor-Uzman','Koc-Egitmen','Kurumsal-Kamu','Butik-Moda','Kafe','Restoran','Diger'];\nconst sektorClean = validSectors.includes(item.sektor) ? item.sektor : 'Diger';\n\nreturn [{json: {\n  ad_soyad: item.ad_soyad || '',\n  email: item.email || '',\n  telefon: item.telefon || '',\n  sirket_adi: item.sirket_adi || '',\n  sektor: sektorClean,\n  konum: item.konum || '',\n  kaynak: item.kaynak || 'Manuel',\n  asama: item.asama || 'Yeni',\n  lead_skoru: skor,\n  notlar: item.notlar || '',\n  ihtiyac_notu: item.ihtiyac_notu || '',\n  external_event_id: externalEventId\n}}];\n"
      }
    },
    {
      "id": "b88deae4-0924-4488-a77f-41dd7497c9b1",
      "name": "Create Lead in NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        80,
        0
      ],
      "parameters": {
        "authentication": "nocoDbApiToken",
        "resource": "row",
        "operation": "create",
        "version": 3,
        "workspaceId": "wgh5kblj",
        "projectId": "ps9dj2fqrh823av",
        "table": "m5lcgc5ifeqh38h",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "ad_soyad",
              "fieldValue": "={{ $json.ad_soyad }}"
            },
            {
              "fieldName": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldName": "telefon",
              "fieldValue": "={{ $json.telefon }}"
            },
            {
              "fieldName": "sirket_adi",
              "fieldValue": "={{ $json.sirket_adi }}"
            },
            {
              "fieldName": "sektor",
              "fieldValue": "={{ $json.sektor }}"
            },
            {
              "fieldName": "konum",
              "fieldValue": "={{ $json.konum }}"
            },
            {
              "fieldName": "kaynak",
              "fieldValue": "={{ $json.kaynak }}"
            },
            {
              "fieldName": "asama",
              "fieldValue": "={{ $json.asama }}"
            },
            {
              "fieldName": "lead_skoru",
              "fieldValue": "={{ $json.lead_skoru }}"
            },
            {
              "fieldName": "notlar",
              "fieldValue": "={{ $json.notlar }}"
            },
            {
              "fieldName": "ihtiyac_notu",
              "fieldValue": "={{ $json.ihtiyac_notu }}"
            },
            {
              "fieldName": "external_event_id",
              "fieldValue": "={{ $json.external_event_id }}"
            }
          ]
        }
      },
      "credentials": {
        "nocoDbApiToken": {
          "id": "REDACTED",
          "name": "NocoDB Token account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "633278eb-664c-46cf-b928-935d9822f3c5",
      "name": "Is Hot or Warm",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.asama }}",
              "rightValue": "Sicak",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.asama }}",
              "rightValue": "Ilik",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "5a4d99b9-c2ea-4864-b9fe-ca2d6ed718df",
      "name": "Send Hot Lead Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -16
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "seymaakrs@gmail.com",
        "subject": "=SICAK LEAD: {{ $json.ad_soyad }} - {{ $json.sirket_adi }} (Skor: {{ $json.lead_skoru }}/100)",
        "emailType": "html",
        "message": "=<h2>Yeni Sicak/Ilik Lead Geldi!</h2> <p><b>Ad Soyad:</b> {{ $json.ad_soyad }}</p> <p><b>Sirket:</b> {{ $json.sirket_adi }}</p> <p><b>Email:</b> {{ $json.email }}</p> <p><b>Telefon:</b> {{ $json.telefon }}</p> <p><b>Kaynak:</b> {{ $json.kaynak }}</p> <p><b>Sektor:</b> {{ $json.sektor }}</p> <p><b>Asama:</b> {{ $json.asama }}</p> <p><b>Konum:</b> {{ $json.konum }}</p> <p><b>Lead Skoru:</b> {{ $json.lead_skoru }}/100</p> <hr> <p><b>HEMEN ARAYIN!</b></p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "Gmail account"
        }
      },
      "webhookId": "e709b8df-ead3-4b06-ad7a-16dd4960d5ee"
    },
    {
      "id": "f8a3c2e1-1d4b-4c7a-9f2e-ab12cd34ef56",
      "name": "Send Lead Error Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        320,
        160
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "seymaakrs@gmail.com",
        "subject": "=[Lead Toplama] NocoDB yazma hatasi (event_id={{ $json.external_event_id }})",
        "emailType": "html",
        "message": "=<h3>NocoDB Create Lead hata verdi</h3><p>Bu mesaj iki sebepten gelir: (a) duplicate external_event_id (idempotency koruyucu calisti, beklenen davranis) veya (b) SingleSelect option NocoDB sema'sinda eksik (orn. WhatsApp).</p><p><b>external_event_id:</b> {{ $json.external_event_id }}</p><p><b>kaynak:</b> {{ $json.kaynak }}</p><p><b>telefon:</b> {{ $json.telefon }}</p><p><b>asama:</b> {{ $json.asama }}</p><p><b>n8n error:</b> {{ $json.error || $json.message || 'unknown' }}</p><hr><p>Idempotency (a) ise <b>aksiyon yok</b>. Schema (b) ise NocoDB Leadler.kaynak option listesine eksik degeri ekleyin.</p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4789-89ab-cdef01234567",
      "name": "Check Idempotency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ],
      "parameters": {
        "jsCode": "// Workflow-level idempotency guard.\n// Looks up Leadler for an existing row with the same external_event_id;\n// if found, returns [] so downstream nodes (Create Lead) are not triggered.\n// If external_event_id is empty (legacy non-Zernio webhooks), passes through.\n// Belt-and-suspenders: DB-side unique constraint should also be added later,\n// but NocoDB 0.301.x SingleLineText un=true does not always materialize the\n// physical index. This guard is the portable safety net.\nconst item = $input.first().json;\nconst eid = item.external_event_id || '';\nif (!eid) {\n  return [{ json: item }];\n}\n\nconst cred = await this.getCredentials('nocoDbApiToken');\nconst host = (cred.host || '').replace(/\\/$/, '');\nconst url = `${host}/api/v2/tables/m5lcgc5ifeqh38h/records`\n  + `?where=${encodeURIComponent('(external_event_id,eq,' + eid + ')')}`\n  + `&limit=1`;\n\nlet exists = false;\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    headers: { 'xc-token': cred.apiToken, 'Accept': 'application/json' },\n    json: true,\n  });\n  exists = ((res && res.list) || []).length > 0;\n} catch (err) {\n  // On lookup failure, fail OPEN (allow the write) so a transient NocoDB\n  // outage does not block fresh leads. Duplicates remain extremely unlikely\n  // in this window (Zernio retry interval > seconds).\n  console.log('Idempotency lookup failed; proceeding with insert:', err && err.message);\n  return [{ json: item }];\n}\n\nif (exists) {\n  // Drop the item silently — duplicate.\n  return [];\n}\nreturn [{ json: item }];\n"
      },
      "credentials": {
        "nocoDbApiToken": {
          "id": "REDACTED",
          "name": "NocoDB Token account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Calculate Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Score": {
      "main": [
        [
          {
            "node": "Check Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in NocoDB": {
      "main": [
        [
          {
            "node": "Is Hot or Warm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Lead Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot or Warm": {
      "main": [
        [
          {
            "node": "Send Hot Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency": {
      "main": [
        [
          {
            "node": "Create Lead in NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "versionId": "6481c792-82cb-474f-8d87-e1f36b2a3cc8",
  "activeVersionId": "6481c792-82cb-474f-8d87-e1f36b2a3cc8",
  "versionCounter": 169,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-23T11:21:35.000Z",
    "createdAt": "2026-04-23T11:20:08.752Z",
    "versionId": "6481c792-82cb-474f-8d87-e1f36b2a3cc8",
    "workflowId": "l31p16NRZeyk4eEm",
    "nodes": [
      {
        "id": "a385505a-f56b-40e8-b5c7-256c1c2efdc6",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -400,
          0
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "lead-toplama",
          "options": {}
        },
        "webhookId": "0f6561d3-5e21-4a82-82e1-6c1bdf88b1ef"
      },
      {
        "id": "76e20e87-4b9b-4124-a6ee-365669247bfb",
        "name": "Calculate Lead Score",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          0
        ],
        "parameters": {
          "jsCode": "// Zernio webhook (message.received) -> Lead mapping.\n// Backwards compatible: generic webhook (LinkedIn/Manuel/etc) bypasses the\n// detection branch. Detection key: Zernio always sends an 'event' field plus\n// nested 'message.sender'.\nconst raw = $input.first().json.body || $input.first().json;\nconst isZernio = !!(raw && raw.event && raw.message && raw.message.sender);\n\nlet item;\nif (isZernio) {\n  const m = raw.message || {};\n  const sender = m.sender || {};\n  const conv = raw.conversation || {};\n  const platform = (m.platform || (raw.account && raw.account.platform) || '').toLowerCase();\n\n  // Phone in E.164 if Zernio gives it; otherwise reconstruct from sender.id (digits-only fallback for WA).\n  let telefon = sender.phoneNumber || '';\n  if (!telefon && /^\\d{8,}$/.test(sender.id || '')) telefon = '+' + sender.id;\n\n  // Map Zernio platform -> NocoDB Leadler.kaynak SingleSelect option.\n  // 'WhatsApp' option must exist in NocoDB (Adim 3 prerequisite).\n  const kaynakMap = { whatsapp: 'WhatsApp', instagram: 'IG DM', facebook: 'IG DM' };\n  const kaynak = kaynakMap[platform] || 'Manuel';\n\n  // Slowdays cold outreach is otelci-bazli; default sektor speeds scoring.\n  const sektorDefault = platform === 'whatsapp' ? 'Otelcilik' : '';\n\n  item = {\n    ad_soyad: sender.name || conv.participantName || '',\n    email: '',\n    telefon,\n    sirket_adi: sender.name || conv.participantName || '',\n    sektor: sektorDefault,\n    konum: '',\n    kaynak,\n    // Inbound message = lead replied = sicak (eski monitor mantigi).\n    asama: m.direction === 'incoming' ? 'Sicak' : 'Yeni',\n    notlar: m.text || '',\n    ihtiyac_notu: m.text ? ('Zernio ' + platform + ': ' + String(m.text).slice(0, 200)) : ''\n  };\n} else {\n  item = raw;\n}\n\nlet skor = 0;\nconst hedefSektorler = ['Otelcilik', 'Yeme-Icme', 'Turizm', 'Spa-Wellness'];\nif (hedefSektorler.includes(item.sektor)) skor += 20;\nelse if (item.sektor && item.sektor !== 'Diger') skor += 10;\n\nconst hedefKonumlar = ['Bodrum', 'Marmaris', 'Fethiye', 'Datca', 'Gocek'];\nif (hedefKonumlar.some(k => (item.konum || '').includes(k))) skor += 15;\nelse if ((item.konum || '').includes('Mugla')) skor += 10;\n\nif (item.kaynak === 'Meta Ads') skor += 25;\nelse if (item.kaynak === 'WhatsApp') skor += 20;\nelse if (item.kaynak === 'Clay' || item.kaynak === 'LinkedIn') skor += 15;\nelse if (item.kaynak === 'IG DM') skor += 10;\nelse if (item.kaynak === 'Manuel') skor += 5;\n\nif (item.asama === 'Sicak') skor += 30;\nelse if (item.asama === 'Ilik') skor += 20;\nelse if (item.asama === 'Yeni') skor += 5;\n\nconst validSectors = ['Otelcilik','Yeme-Icme','Perakende','Turizm','E-ticaret','Tekne-Yat','Emlak','Spa-Wellness','Doktor-Uzman','Koc-Egitmen','Kurumsal-Kamu','Butik-Moda','Kafe','Restoran','Diger'];\nconst sektorClean = validSectors.includes(item.sektor) ? item.sektor : 'Diger';\n\nreturn [{json: {\n  ad_soyad: item.ad_soyad || '',\n  email: item.email || '',\n  telefon: item.telefon || '',\n  sirket_adi: item.sirket_adi || '',\n  sektor: sektorClean,\n  konum: item.konum || '',\n  kaynak: item.kaynak || 'Manuel',\n  asama: item.asama || 'Yeni',\n  lead_skoru: skor,\n  notlar: item.notlar || '',\n  ihtiyac_notu: item.ihtiyac_notu || ''\n}}];\n"
        }
      },
      {
        "id": "b88deae4-0924-4488-a77f-41dd7497c9b1",
        "name": "Create Lead in NocoDB",
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          80,
          0
        ],
        "parameters": {
          "authentication": "nocoDbApiToken",
          "resource": "row",
          "operation": "create",
          "version": 3,
          "workspaceId": "wgh5kblj",
          "projectId": "ps9dj2fqrh823av",
          "table": "m5lcgc5ifeqh38h",
          "dataToSend": "defineBelow",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "ad_soyad",
                "fieldValue": "={{ $json.ad_soyad }}"
              },
              {
                "fieldName": "email",
                "fieldValue": "={{ $json.email }}"
              },
              {
                "fieldName": "telefon",
                "fieldValue": "={{ $json.telefon }}"
              },
              {
                "fieldName": "sirket_adi",
                "fieldValue": "={{ $json.sirket_adi }}"
              },
              {
                "fieldName": "sektor",
                "fieldValue": "={{ $json.sektor }}"
              },
              {
                "fieldName": "konum",
                "fieldValue": "={{ $json.konum }}"
              },
              {
                "fieldName": "kaynak",
                "fieldValue": "={{ $json.kaynak }}"
              },
              {
                "fieldName": "asama",
                "fieldValue": "={{ $json.asama }}"
              },
              {
                "fieldName": "lead_skoru",
                "fieldValue": "={{ $json.lead_skoru }}"
              },
              {
                "fieldName": "notlar",
                "fieldValue": "={{ $json.notlar }}"
              },
              {
                "fieldName": "ihtiyac_notu",
                "fieldValue": "={{ $json.ihtiyac_notu }}"
              }
            ]
          }
        },
        "credentials": {
          "nocoDbApiToken": {
            "id": "REDACTED",
            "name": "NocoDB Token account 2"
          }
        }
      },
      {
        "id": "633278eb-664c-46cf-b928-935d9822f3c5",
        "name": "Is Hot or Warm",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          320,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.asama }}",
                "rightValue": "Sicak",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "c2",
                "leftValue": "={{ $json.asama }}",
                "rightValue": "Ilik",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        }
      },
      {
        "id": "5a4d99b9-c2ea-4864-b9fe-ca2d6ed718df",
        "name": "Send Hot Lead Alert",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          560,
          -16
        ],
        "parameters": {
          "resource": "message",
          "operation": "send",
          "sendTo": "seymaakrs@gmail.com",
          "subject": "=SICAK LEAD: {{ $json.ad_soyad }} - {{ $json.sirket_adi }} (Skor: {{ $json.lead_skoru }}/100)",
          "emailType": "html",
          "message": "=<h2>Yeni Sicak/Ilik Lead Geldi!</h2> <p><b>Ad Soyad:</b> {{ $json.ad_soyad }}</p> <p><b>Sirket:</b> {{ $json.sirket_adi }}</p> <p><b>Email:</b> {{ $json.email }}</p> <p><b>Telefon:</b> {{ $json.telefon }}</p> <p><b>Kaynak:</b> {{ $json.kaynak }}</p> <p><b>Sektor:</b> {{ $json.sektor }}</p> <p><b>Asama:</b> {{ $json.asama }}</p> <p><b>Konum:</b> {{ $json.konum }}</p> <p><b>Lead Skoru:</b> {{ $json.lead_skoru }}/100</p> <hr> <p><b>HEMEN ARAYIN!</b></p>",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "REDACTED",
            "name": "Gmail account"
          }
        },
        "webhookId": "e709b8df-ead3-4b06-ad7a-16dd4960d5ee"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Calculate Lead Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Lead Score": {
        "main": [
          [
            {
              "node": "Create Lead in NocoDB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Lead in NocoDB": {
        "main": [
          [
            {
              "node": "Is Hot or Warm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Hot or Warm": {
        "main": [
          [
            {
              "node": "Send Hot Lead Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "şeyma karaş",
    "name": "Version 6481c792",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-23T11:21:34.958Z",
        "id": 54,
        "workflowId": "l31p16NRZeyk4eEm",
        "versionId": "6481c792-82cb-474f-8d87-e1f36b2a3cc8",
        "event": "activated",
        "userId": "46f2a292-2b89-45ea-9175-f0b2d79cf9a0"
      }
    ]
  }
}
