n8n/workflows/takip-agent.json
{
  "updatedAt": "2026-04-01T16:41:00.211Z",
  "createdAt": "2026-04-01T16:00:12.168Z",
  "id": "nWNMQYHJzsMvMUGP",
  "name": "Takip Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e5310582-50d9-4396-9f57-0015eb1b74a3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wgh5kblj",
        "projectId": "ps9dj2fqrh823av",
        "table": "m5lcgc5ifeqh38h",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "3e9799eb-de31-4174-8444-b8a2af28784e",
      "name": "Get many rows",
      "credentials": {
        "nocoDbApiToken": {
          "id": "REDACTED",
          "name": "NocoDB Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a06e5553-90fd-4296-9cce-a9fe650ab7d6",
              "leftValue": "={{ $json.asama }}",
              "rightValue": "Yeni",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1821e73e-0aa0-4c87-ac1a-de3a550528ed",
              "leftValue": "={{ $json.asama }}",
              "rightValue": "Soguk",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "db72ce01-50dc-422f-a961-65ae12cf4f19",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "seymaakrs@gmail.com",
        "subject": "=Takip Bekleyen Lead: {{ $json.ad_soyad }} - {{ $json.sirket_adi }}",
        "message": "=<h3>Takip Gereken Lead</h3> <p><b>Ad Soyad:</b> {{ $json.ad_soyad }}</p> <p><b>Sirket:</b> {{ $json.sirket_adi }}</p> <p><b>Email:</b> {{ $json.email }}</p> <p><b>Kaynak:</b> {{ $json.kaynak }}</p> <p><b>Asama:</b> {{ $json.asama }}</p> <p><b>Konum:</b> {{ $json.konum }}</p> <hr> <p>Bu lead takip bekliyor. NocoDB'den kontrol et.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "4bd7af58-6c17-433c-a191-0a4f2e1e6207",
      "name": "Send a message",
      "webhookId": "3b3abb98-874e-4221-93de-c399616c704a",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "49af7b65-d76d-4226-8e8b-f6c075e7c78f",
  "activeVersionId": "49af7b65-d76d-4226-8e8b-f6c075e7c78f",
  "versionCounter": 71,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-03T13:58:01.000Z",
    "createdAt": "2026-04-01T16:41:00.212Z",
    "versionId": "49af7b65-d76d-4226-8e8b-f6c075e7c78f",
    "workflowId": "nWNMQYHJzsMvMUGP",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "e5310582-50d9-4396-9f57-0015eb1b74a3",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "workspaceId": "wgh5kblj",
          "projectId": "ps9dj2fqrh823av",
          "table": "m5lcgc5ifeqh38h",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          208,
          0
        ],
        "id": "3e9799eb-de31-4174-8444-b8a2af28784e",
        "name": "Get many rows",
        "credentials": {
          "nocoDbApiToken": {
            "id": "REDACTED",
            "name": "NocoDB Token account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "a06e5553-90fd-4296-9cce-a9fe650ab7d6",
                "leftValue": "={{ $json.asama }}",
                "rightValue": "Yeni",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "1821e73e-0aa0-4c87-ac1a-de3a550528ed",
                "leftValue": "={{ $json.asama }}",
                "rightValue": "Soguk",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "db72ce01-50dc-422f-a961-65ae12cf4f19",
        "name": "Filter"
      },
      {
        "parameters": {
          "sendTo": "seymaakrs@gmail.com",
          "subject": "=Takip Bekleyen Lead: {{ $json.ad_soyad }} - {{ $json.sirket_adi }}",
          "message": "=<h3>Takip Gereken Lead</h3> <p><b>Ad Soyad:</b> {{ $json.ad_soyad }}</p> <p><b>Sirket:</b> {{ $json.sirket_adi }}</p> <p><b>Email:</b> {{ $json.email }}</p> <p><b>Kaynak:</b> {{ $json.kaynak }}</p> <p><b>Asama:</b> {{ $json.asama }}</p> <p><b>Konum:</b> {{ $json.konum }}</p> <hr> <p>Bu lead takip bekliyor. NocoDB'den kontrol et.</p>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          624,
          0
        ],
        "id": "4bd7af58-6c17-433c-a191-0a4f2e1e6207",
        "name": "Send a message",
        "webhookId": "3b3abb98-874e-4221-93de-c399616c704a",
        "credentials": {
          "gmailOAuth2": {
            "id": "REDACTED",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "şeyma karaş",
    "name": "v1.0 - Ilk kurulum",
    "description": "Her 6 saatte NocoDB Leadler tablosunu tarar, asama Yeni veya Soguk olan leadleri filtreler ve Seyma'ya email ile bildirim gonderir.",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-03T13:58:01.351Z",
        "id": 37,
        "workflowId": "nWNMQYHJzsMvMUGP",
        "versionId": "49af7b65-d76d-4226-8e8b-f6c075e7c78f",
        "event": "activated",
        "userId": "46f2a292-2b89-45ea-9175-f0b2d79cf9a0"
      }
    ]
  }
}
